<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../public/stylesheets/restaurant.css'>
    <script src="https://kit.fontawesome.com/74bc11d46f.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div id="group">  

        <div class="card_chef">
            <img src="/public/images/laplanque_chef.jpg" alt="image du chef">
            <h3>Chef Ben Chen</h3>
            <div class="rest_stars">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <div class="avis">
                <h3>Dernier avis</h3>
                <p>"Le chef prend plaisir à partager ses astuces"</p>
            </div>
        </div>

        <div class="card_rest">
            <img src="/public/images/laplanque_cover.jpg" alt="image cover restaurant">
            <div class="text-chef">
                <p>Mon père m'a transmis les goûts de l'effort, de la rigueur et du mérite. En 2004, le Chef est élu "Grand de Demain" par le guide Gault & Milau.</p>
            </div>
            <div class="group-formules">
                <!--<div class="formule1">
                    <div class="nom-formule"><p>Tentation</p></div>                    
                    <div class="prix-formule">45€</div>
                </div>
                <div class="formule2">
                    <div class="nom-formule"><p>Epicure</p></div> 
                    <div class="prix-formule">65€</div>
                </div>
                <div class="formule3">
                    <div class="nom-formule"><p>Signature</p></div> 
                    <div class="prix-formule">85€</div>
                </div>
            -->
                <div><h3>Les formules</h3></div>
                <div class="nom-formule">
                    <div class="formule">Tentation</div>  
                    <div class="formule">Epicure</div>  
                    <div class="formule">Signature</div>  
                </div>
                <div class="prix-formule">
                    <div class="prix">45€</div>
                    <div class="prix">65€</div>
                    <div class="prix">85€</div>
                </div>

            </div>
        </div>

    </div>
</body>

</html>